/* font-family: 'Circe Light'; */
@font-face {
    font-family: 'Circe Light';
    src: url('../fonts/CirceLight/Circe-Light.eot');
    src: url('../fonts/CirceLight/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceLight/Circe-Light.woff') format('woff'),
    url('../fonts/CirceLight/Circe-Light.ttf') format('truetype'),
    url('../fonts/CirceLight/Circe-Light.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'Circe Regular'; */
@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/CirceRegular/Circe-Regular.eot');
    src: url('../fonts/CirceRegular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceRegular/Circe-Regular.woff') format('woff'),
    url('../fonts/CirceRegular/Circe-Regular.ttf') format('truetype'),
    url('../fonts/CirceRegular/Circe-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'Circe Bold'; */
@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/CirceBold/Circe-Bold.eot');
    src: url('../fonts/CirceBold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceBold/Circe-Bold.woff') format('woff'),
    url('../fonts/CirceBold/Circe-Bold.ttf') format('truetype'),
    url('../fonts/CirceBold/Circe-Bold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GERAL */
* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Circe Regular';
}
.container {
    max-width: 100%!important;
    width: 100%;
    padding: 0 15px!important;
}

/* HEADER */
.navbar-default {
    background: transparent;
    border-color: transparent;
    height: 120px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header .navbar-brand {
    height: 120px;
    display: flex;
    align-items: center;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.logo {
    width: 160px;
    margin-left: 15px;
}
.btn-aluno {
    font-size: 18px;
    color: #fff;
    background: #6aa842;
    padding: 10px 20px 10px 30px;
    border-radius: 50px 0 0 50px;
    position: absolute;
    right: 0;
    margin-top: 35px;
}

.vitrine {
    margin-top: -120px;
}
.vitrine img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: left;
}
.comece-agora {
    width: 75%;
    padding: 20px;
    margin-top: -370px;
    background: rgba(255, 255, 255, .9);
    border-radius: 20px;
    position: absolute;
    right: 15px;
}
.comece-agora h1 {
    font-size: 26px;
    color: #545454;
    text-align: center;
    margin: 0 0 20px;
}
.comece-agora input {
    font-size: 16px;
    color: #c11c4b;
    padding-left: 15px;
    border-radius: 50px;
    border: 1px solid #c11c4b;
    height: 40px;
    margin-bottom: 15px;
}
.comece-agora button {
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background: #6aa842;
    width: 100%;
    height: 40px;
}

.como-funciona {
    padding: 60px 0 15px;
    overflow: hidden;
    position: relative;
}
.como-funciona img#borboleta1 {
    transform: rotate(20deg);
    position: absolute;
    left: -270px;
    margin-top: -270px;
}
.como-funciona img#borboleta2 {
    transform: rotate(-20deg);
    position: absolute;
    right: -270px;
    margin-top: -270px;
}
.como-funciona h1 {
    font-size: 36px;
    font-family: 'Circe Bold';
    color: #646464;
    text-align: center;
    margin: 0 0 50px;
    position: relative;
}
.como-funciona h1 span {
    color: #d01f47;
}
.como-funciona .item1:before {
    content: "";
    background: url(../images/icone-balao-bandeira.png) no-repeat;
    width: 83px;
    height: 92px;
    display: block;
    position: absolute;
    margin-top: -55px;
    margin-left: 15px;
    transform: scale(1);
    transition: 1s ease all;
}
.como-funciona .item1:hover:before {
    transform: scale(1.1);
    transition: 1s ease all;
}
.como-funciona .item {
    text-align: center;
}
.como-funciona .img {
    width: 160px;
    height: 160px;
    border: 6px solid #ee1b48;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
    transform-origin: center;
    transition: 1s ease all;
    margin: 0 auto;
}
.como-funciona .item:hover .img {
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s ease all;
}
.como-funciona .item img {
    transform: scale(1);
    transition: 1s ease all;
}
.como-funciona .item:hover img {
    transform: scale(1.2);
    transition: 1s ease all;
}
.como-funciona h4 {
    font-size: 20px;
    font-family: 'Circe Bold';
    color: #ee1b48;
    margin: 20px 0;
}
.como-funciona p {
    font-size: 18px;
    color: #515151;
}

/* --- MOBILE --- */
@media (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}