/* font-family: 'Circe Light'; */
@font-face {
    font-family: 'Circe Light';
    src: url('../fonts/CirceLight/Circe-Light.eot');
    src: url('../fonts/CirceLight/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceLight/Circe-Light.woff') format('woff'),
    url('../fonts/CirceLight/Circe-Light.ttf') format('truetype'),
    url('../fonts/CirceLight/Circe-Light.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'Circe Regular'; */
@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/CirceRegular/Circe-Regular.eot');
    src: url('../fonts/CirceRegular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceRegular/Circe-Regular.woff') format('woff'),
    url('../fonts/CirceRegular/Circe-Regular.ttf') format('truetype'),
    url('../fonts/CirceRegular/Circe-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'Circe Bold'; */
@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/CirceBold/Circe-Bold.eot');
    src: url('../fonts/CirceBold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceBold/Circe-Bold.woff') format('woff'),
    url('../fonts/CirceBold/Circe-Bold.ttf') format('truetype'),
    url('../fonts/CirceBold/Circe-Bold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GERAL */
* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Circe Regular';
}
.container {
    max-width: 100%!important;
    width: 100%;
    padding: 0 15px!important;
}

/* HEADER */
.navbar-default {
    background: transparent;
    border-color: transparent;
    height: 120px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header .navbar-brand {
    height: 120px;
    display: flex;
    align-items: center;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.logo {
    width: 160px;
    margin-left: 15px;
}
.btn-aluno {
    font-size: 18px;
    color: #fff;
    background: #6aa842;
    padding: 10px 20px 10px 30px;
    border-radius: 50px 0 0 50px;
    position: absolute;
    right: 0;
    margin-top: 35px;
}

.vitrine {
    margin-top: -120px;
}
.vitrine img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: left;
}
.vitrine.v2 img {
    height: 450px;
    object-position: right;
}
.comece-agora {
    max-width: 310px;
    width: 75%;
    padding: 20px;
    margin-top: -370px;
    background: rgba(255, 255, 255, .9);
    border-radius: 20px;
    position: absolute;
    right: 15px;
}
.v2 .comece-agora {
    right: 0;
    left: 15px;
    max-width: 250px;
    margin-top: -300px;
}
.comece-agora h1 {
    font-size: 26px;
    color: #545454;
    text-align: center;
    margin: 0 0 20px;
}
.v2 .comece-agora h1 {
    font-size: 18px;
    margin: 0 0 10px;
}
.comece-agora input {
    font-size: 16px;
    color: #c11c4b;
    padding-left: 15px;
    border-radius: 50px;
    border: 1px solid #c11c4b;
    height: 40px;
    margin-bottom: 15px;
}
.v2 .comece-agora input {
    margin-bottom: 5px;
}
.comece-agora button {
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background: #6aa842;
    width: 100%;
    height: 40px;
}

.como-funciona {
    padding: 50px 0 0;
    overflow: hidden;
    position: relative;
}
.como-funciona img#borboleta1 {
    transform: rotate(0deg);
    position: absolute;
    left: -230px;
    margin-top: -70px;
    width: 300px;
}
.como-funciona img#borboleta2 {
    transform: rotate(-10deg);
    position: absolute;
    right: -180px;
    margin-top: -210px;
    width: 300px;
}
.como-funciona img#borboleta3 {
    transform: rotate(-30deg);
    position: absolute;
    left: -230px;
    margin-top: -40px;
    width: 300px;
}
.como-funciona img#borboleta4 {
    transform: rotate(20deg);
    position: absolute;
    right: -210px;
    margin-top: -260px;
    width: 300px;
}
.como-funciona h1 {
    font-size: 36px;
    color: #545454;
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    width: 300px;
}
.como-funciona h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: url(../images/borda.png) no-repeat;
}
.como-funciona h1 span {
    font-family: 'Circe Bold';
}
.como-funciona .item1:before {
    content: "";
    background: url(../images/icone-balao-bandeira.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 68px;
    display: block;
    position: absolute;
    margin-top: -25px;
    margin-left: 72px;
    transform: scale(1);
    transition: 1s ease all;
}
.como-funciona .item1:hover:before {
    transform: scale(1.1);
    transition: 1s ease all;
}
.como-funciona .item {
    text-align: center;
    margin-bottom: 60px;
}
.como-funciona .img {
    width: 130px;
    height: 130px;
    border: 4px solid #cc2148;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
    transform-origin: center;
    transition: 1s ease all;
    margin: 0 auto;
}
.como-funciona .item:hover .img {
    transform: rotate(10deg);
    transform-origin: center;
    transition: 1s ease all;
}
.como-funciona .item img {
    transform: scale(1);
    width: 80px;
    transition: 1s ease all;
}
.como-funciona .item:hover img {
    transform: scale(1.1);
    transition: 1s ease all;
}
.como-funciona h4 {
    font-size: 24px;
    font-family: 'Circe Bold';
    color: #cc2148;
    text-transform: uppercase;
    margin: 15px 0 5px;
}
.como-funciona p {
    font-size: 24px;
    color: #515151;
}

.jornada {
    overflow: hidden;
    position: relative;
    height: 420px;
}
.jornada .bg-jornada {
    width: 130%;
    position: absolute;
    left: -20px;
    overflow: hidden;
}
.jornada .boneco-bandeira {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 15px;
}
.jornada .conteudo {
    position: relative;
    float: right;
    padding-right: 15px;
    top: 100px;
}
.jornada h1 {
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(118, 118, 118);
    margin: 0;
}
.jornada h1 span {
    font-family: 'Circe Bold';
}
.jornada h4 {
    font-size: 20px;
    color: #fff;
    margin: 0;
}
.jornada a {
    font-size: 22px;
    color: #fff;
    background: #fa5c00;
    padding: 10px 20px;
    border-radius: 10px;
    display: table;
    margin: 10px 0 0;
}

.porque {
    padding: 200px 0;
    background: url(../images/bg-porque.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.porque h1 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    width: 300px;
}
.porque h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: url(../images/borda-branca.png) no-repeat;
}
.porque h1 span {
    font-family: "Circe Bold";
}
.porque .panel-default {
    border-color: transparent;
    background: transparent;
}
.porque .panel-default>.panel-heading {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2px;
    background: #fff;
    padding: 0;
}
.porque .panel-title {
    width: 100%;
}
.porque .accordion-toggle.collapsed {
    color: #545454;
    background: #fff!important;
}
.porque .accordion-toggle {
    font-size: 30px;
    color: #fff;
    text-align: center;
    background: #6aa842;
    display: block;
    border-radius: 5px;
    padding: 15px 10px;
}
.porque .panel-heading .accordion-toggle.collapsed:before {
    content: "\f055";
    color: #6aa842;
}
.porque .panel-heading .accordion-toggle:before {
    font-family: FontAwesome;
    content: "\f056";
    float: left;
    color: #fff;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.porque .panel-collapse {
    border-top: none;
    margin-top: -4px;
    margin-bottom: 2px;
    border-radius: 0 0 5px 5px;
    background: #fff;
}
.porque .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
    padding: 10px 15px;
}
.porque .panel-body p {
    font-size: 16px;
    color: #545454;
}

.compromisso {
    padding: 0 0 30px;
}
.compromisso img {
    width: 280px;
    margin: -170px auto 10px;
    display: table;
}
.compromisso h4 {
    font-size: 30px;
    font-family: 'Circe Bold';
    color: #515151;
    text-align: center;
    margin: 0 0 30px;
}
.compromisso h4 span {
    font-family: 'Circe Regular';
}
.compromisso a {
    font-size: 26px;
    color: #fff;
    background: #cc2148;
    padding: 10px 20px;
    border-radius: 50px;
    display: table;
    margin: 0 auto;
}

.padrinhos {
    padding: 130px 0;
    background: url(../images/bg-padrinhos.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.padrinhos h1 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    width: 300px;
}
.padrinhos h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: url(../images/borda-branca.png) no-repeat;
}
.padrinhos h1 span {
    font-family: 'Circe Bold';
}
.padrinhos img {
    width: 100%;
}

.promocoes {
    margin-top: -120px;
}
.promocoes img {
    width: 100%;
}

.ajuda {
    padding: 100px 0;
    background: url(../images/bg-ajuda.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -57px;
    position: relative;
    z-index: 1;
}
.ajuda img {
    width: 170px;
    margin: 0 auto;
    display: table;
}
.ajuda h1 {
    font-size: 30px;
    font-family: 'Circe Bold';
    color: #343434;
    text-align: center;
    margin: 30px 0 20px;
}
.ajuda p {
    font-size: 24px;
    color: #343434;
    text-align: center;
}
.ajuda a {
    font-size: 30px;
    color: #fff;
    background: #c11c4b;
    padding: 10px 20px;
    border-radius: 50px;
    display: table;
    margin: 20px auto 0;
}
.ajuda a:before {
    content: "";
    display: block;
    background: url(../images/borboleta.png) no-repeat;
    background-size: 100%;
    width: 80px;
    height: 83px;
    position: absolute;
    margin-left: -88px;
    margin-top: -37px;
}

.nossa-missao {
    padding: 100px 0;
    background: url(../images/bg-missao.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -59px;
}
.nossa-missao h1 {
    font-size: 36px;
    color: #343434;
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    width: 300px;
}
.nossa-missao h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: url(../images/borda.png) no-repeat;
}
.nossa-missao h1 span {
    font-family: "Circe Bold";
}
.nossa-missao p {
    font-size: 24px;
    color: #343434;
    text-align: center;
    margin: 0 0 10px;
}
.nossa-missao a {
    font-size: 30px;
    color: #fff;
    background: #70a83b;
    padding: 10px 20px;
    border-radius: 50px;
    display: table;
    margin: 20px auto 0;
}

footer {
    background: url(../images/bg-footer-desktop.png) no-repeat;
    background-size: cover;
    padding: 30px 0;
    margin-top: -60px;
}
footer img {
    width: 130px;
    float: left;
}
footer ul {
    float: right;
    display: flex;
    margin: 5px 0 0;
}
footer ul>li>a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50px;
    margin-left: 5px;
}
footer ul .fa {
    font-size: 26px;
    color: #cc2148;
}

/* --- MOBILE --- */
@media (min-width: 768px) {
    .como-funciona .item1:before {
        margin-top: -30px;
        margin-left: 57px;
    }
    .jornada {
        height: auto;
    }
    .jornada .bg-jornada {
        max-width: 600px;
        width: 50%;
        position: relative;
        left: 0;
        margin: 0 auto;
        display: table;
    }
    .jornada .boneco-bandeira {
        width: 12%;
        max-width: 160px;
        position: absolute;
        bottom: 65px;
        left: 30%;
    }
    .jornada .conteudo {
        position: relative;
        float: none;
        padding-right: 0;
        top: -290px;
        margin: -90px auto 0;
        text-align: center;
    }
    .jornada a {
        margin: 10px auto 0;
    }
    .porque {
        padding: 40px 0 60px;
        background: url(../images/bg-preto-desktop.jpg) no-repeat;
        background-position: bottom center;
    }
    .porque h1 {
        margin: 0 auto 20px;
    }
    .porque .panel-group {
        width: 50%;
        margin: 0 auto 20px;
    }
    .porque .accordion-toggle {
        text-align: left;
        padding: 15px 20px;
    }
    .porque .panel-heading .accordion-toggle:before {
        margin-right: 20px;
    }
    .compromisso {
        padding: 0 0 50px;
    }
    .compromisso img {
        margin: -50px auto 10px;
    }
    .padrinhos {
        padding: 40px 0;
        background: url(../images/bg-preto-desktop.jpg) no-repeat;
        background-position: bottom center;
    }
    .padrinhos img {
        width: 35%;
        margin: 0 auto;
        display: table;
    }
    .promocoes {
        margin-top: 0;
    }
    .ajuda {
        padding: 40px 0;
        margin-top: 0;
    }
    .ajuda h1 {
        margin: 30px 0 10px;
    }
    .ajuda p {
        max-width: 500px;
        margin: 0 auto 40px;
    }
    .nossa-missao {
        padding: 40px 0 60px;
        margin-top: 0;
        background: url(../images/bg-missao-desktop.jpg) no-repeat;
        background-size: cover;
    }
    iframe {
        width: 60%;
        margin: 0 auto;
        display: block;
    }
    footer {
        padding: 30px 0 10px;
        margin-top: -20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}